body {
	font: 11px Verdana, Arial, Helvetica, sans-serif;
	background-color: white;
	margin: 0px;
	padding: 20px 10px 0px;

}
.textfield {
	font-size: 11px;
	color: #333333;
	background: #F7F7F7;
	border: 1px solid #CCCCCC;
	padding-left: 1px;
}
.bottom_addr {
font-size: 11px;
color: #000;
padding: 5px 0 12px 0;
text-align:center;
font-size:10px;
}
h1 {
	color: #bd6f2f;
	margin: 0px 0px 5px;
	padding: 0px 0px 3px;
	font: bold 18px Verdana, Arial, Helvetica, sans-serif;
	text-align:center;
}
h3{
	color:red;
	}
a {
	color: #2D3954;
	font-size: 11px;
}
a:hover {
	color: #99CC00;
}
.err {
	color: #FF9900;
}
.news {
    color:blue;
}
th {
	font-weight: bold;
	text-align: left;
}
#page{
width:1000px;
margin:0 auto;
margin-top:80px;
padding-top:0px;
background: white;
height:auto;
}
#header{
text-align:center;
background:white;
}
#container{
border:#bd6f2f solid 1px;
border-radius: 10px;
padding:50px 6px 50px 6px;
width:1000px;
margin:0 auto;
font-size:20px;
text-align:justify;
margin-top:30px;
}
#footer{
width:800px;
margin:0 auto;
margin-top:250px;
background:white;
}
